# no executables
*
!*.*
!*/
*.exe

# personal files
.clangd
.clang-format
.clang-tidy
.nvim.lua

# test dirs
input/
output/

# default haskel ignores
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
